<h2><%= t('words.terms_of_service') %></h2>
<ol style="padding-left:10px">
<li>
<b>接受和使用条件的变化。</b>
每次访问或使用本网站，您同意这些使用条款的任何修改，他们可以采取或不通知的一部分。
此外，如果你使用一个特殊的服务提供或通过我们的网站，你是受规则和指南的组成部分，该服务的使用条件。
我们也咨询 <b><%= link_to t('words.privacy_policy'), privacy_path, remote: true, class: 'privacy_link'%></b>, 这些组成部分的使用条件。
</li>
<li>
<b>我们的服务。</b>
我们的网站和它所提供的服务或通过它提供的是我，因此，管理人员和业主本网站不承担任何责任的准确性或取消，准时交货，或任何通信或存储，个性化写作。
访问这个网站的主人，接受和保留的权利，可以在任何时候，不通知，也不负任何责任，对你的访问，更改或删除本网站或服务，你提供的数据或删除，暂时或永久。
</li>
<li>
<b>你的责任和你的注册要求。</b>
使用本网站，您接受检查时，需要提供真实的信息。你的年龄。通过明确的登记，接受我们的使用条款和它们的周期变化，你可以参考这个页面上。
</li>
<li>
<b>隐私政策。</b>
数据记录或其他数据收集和随后的调节是受个人的隐私政策。
</li>
<li>
<b>注册和密码。</b>
你承诺保密的密码进入网站的负责人，就像你通过你的服务使用记录和/或访问（登录），即使没有这样的授权支付你直接。
可以立即告诉你的任何未经授权的使用或注册，密码的轮廓，你知道。
</li>
<li>
<b>你的行为。</b>
您同意所有的信息或任何类型的数据，无论是文字，软件，代码，音乐或声音，照片，视频或其他材料（内容），公开或私下，属于个人决策的责任它提供，或者其配置文件用于供应。
您同意，对amministrarori的意愿，该网站可能偶尔会攻击性或令人反感的。
通过使用这个网站，并通过其提供的任何服务：
<ol type="A" style="padding-left: 20px">
<li>您同意不张贴内容或以其他方式采取可能被视为违法，庸俗，淫秽的或其他不良行为，它承受的伤害，诽谤或冒犯他人，或损害本网站的正常运作和提供的服务，通过它感染电子病毒或其他破坏性程序和有害的，决定民事或刑事法律责任有关或可能会违反适用的地方，国家和国际。
</li><li>您同意不歪曲您的身份或协会，个人或实体的联系，而不是伪造或试图隐藏您所提供的任何内容的来源或性质;
</li><li>您同意不收集其他用户的数据;
</li><li>
您同意不提供或使用本网站或其任何部门或将涉及垃圾（垃圾邮件或垃圾邮件），连锁信，传销，或任何形式的邀约或任何形式的内容或服务，未经授权的广告未经本公司事先书面同意;
</li><li>您同意不提供可能导致的民事或刑事法律责任，或可能构成或被视为违反任何地区，国家或国际法，包括版权，专利，或商业秘密的法律内容;
</li><li> 同意不写一般的标题和刺激性（永不全部大写）。标题用于指示提案或博客文章的内容。内容本身必须是详尽的描述，没有什么是理所当然的;
</li><li>您同意的精神是开源，但我们不是一个慈善机构（而时间就是金钱）：是的，支持和帮助台，而不是免费服务和咨询;
</li><li> 你同意，管理员必须进入该类别最适合您放错了地方的建议的权利;
</li><li> 我同意你发送和双项没有解释删除;
</li><li> 我同意，如果不符合这些条件可能会导致立即和彻底取消您的账户，除非更严厉的措施;
</li><li> 您同意所有帖子的所有IP地址被记录在这个情况下帮助
</li><li> 你同意，那是不允许创建多个帐户，单个用户：当一个用户有多个帐户，这也许需要从dall'accessso通过技术omniauth（脸谱，谷歌，微博等）是否在需要使用功能工会账户“来聚合不同帐户的信息。
</li><li>您同意在注册过程中要求的电子邮件地址将仅用于确认您的注册信息和密码的使用，发送通知的事件发生在系统中，并能的情况下发送一个新的密码，您忘了和/或smarrissi“电流。在发送简讯和电子邮件通知的规定被管辖的“设置通知和信息”的用户：管理员不能确保完全符合臭虫，病毒或其他系统发生故障的情况下这些规则。
</li><li> 您同意这个网站的管理员或版主有权删除权，修改，移动或关闭任何话题在任何时间，这是所要求的用户群体;
</li><li> 您同意，作为一个注册用户，您已被上面存储在数据库中输入的任何信息;
</li><li> 您同意任何敏感信息，比如用户证书，并输入了被存储在数据库中的年龄;
</li><li> 同意，网站管理员，系统管理员们不承担任何责任黑客行为导致的数据;
</li><li> 您同意，本网站使用Cookie来存储在本地计算机上的信息。这些cookie不包含您在上面输入，他们只会提高网站的导航数据;
</li><li> 接受这是绝对禁止利用本网站以任何形式来宣传产品或服务，除非管理员书面授权。</li>
</ol>
</li>
<li>
<b>提交本网站上的内容。</b>
提供各种内容的网站：
<ol type="A" style="padding-left: 20px">
<li>同意向国际，免费的，永久性的，不排除使用，展示，复制，改编，出版，发行，表演，宣传，档案，翻译这些内容全部或部分转载。该牌照将关于应用于任何形式的，媒体或技术已知或以后开发的;
</li><li> 认识到，你把所有的法律，道义和物质，以及所需的任何其他权利授予本文件所载的许可证;
</li><li> 承认和接受，我们有权利但无义务，拒绝发布或删除或限制进入你提供在任何时间以任何理由，通知或不通知任何内容。</li></ol>
</li>
<li>
<b>服务来自第三方。</b>
产品和第三方提供的服务可能会被发布或上或通过本网站提供。产品和第三方提供的服务代表处由他们提供策略控制。我们不负责以任何方式对您输入到与第三方的任何互动，协议或合同。
</li>
<li>
<b>起义反对赔偿要求。</b>
认识和接受的是，管理人员及本网站的所有者及其附属机构（例如补贴我们的企业和分支机构，我们的员工，管理人员，业主，供应商或独立。我们的成员）的任何索赔的提出，包括律师费，可能需要由第三方因您对本网站和每一个服务的行为，因为你提供的内容，因为这些使用条款的违反或因任何其他违反的权利“其他人或第三您在使用本网站及其服务的承诺。
</li>
<li>
<b>如缺少声明。</b>
您承认并同意，使用本网站的所有服务和内容提供（以下简称“服务”），并提供您自担风险提供给您。 “按原样”，没有任何明示或暗示的担保，包括适销性，适用性提供的各项服务和合法性它提供。
我们不提供任何保证，明示或暗示的任何部分我们的服务将是不间断的，正确的，无病毒，及时，安全，准确，可靠，具有良好的质量，或者可以下载我们提供的任何工作内容外汇管理局。
您承认并接受使用本网站的风险自负，并没有我们的任何形式的责任。
某些司法管辖区可能不允许责任或担保的限制，因此上述限制可能并不适用于你，只要它们涉及到暗示的保证。

您同意：
<ol type="A" style="padding-left: 20px">
<li>承认并同意，不以任何方式责任“任何种类的任何损害，或间接的损害，即使是利润损失，数据或其他无形损失（即使经过警告这种损失的可能性）导致的（我）使用或使用我们的服务，（二）取得替代商品和服务导致的输入通过我们的网站或提供的IT服务的任何交易费用无力，（三）未经授权访问或更改您的数据传输，（IV）声明或任何第三方在我们的网站，或（v）与本公司网站或服务所提供的IT任何其他问题上的行为。
</li></ol>
某些司法管辖区不允许责任限制，因此这种限制可能并不适用于你。
</li>
<li>
<b>保留权利。</b>
我们保留所有权利，包括版权，商标，专利，商业秘密，我们可以对我们的网站，其内容的所有其他权利，商品和它提供的服务。利用我们的权利和财产，需要我们事先书面同意。
不为您提供通过提供服务的任何暗示或明示的许可或权利，你没有权利做商业用途，未经我们事先书面同意。
</li><li>
<b>版权侵权通知。</b>
如果您认为您的物业资产构成版权侵权，或您的知识产权的方式已被使用，您可以联系负责网站（站长） <%=mail_to ENV['APP_EMAIL_ADDRESS']%>
</li><li>
<b>法律和司法管辖权。</b>
您同意本使用条款及任何争端可能出现的有关您使用本网站和其服务或产品是由意大利共和国的法律管辖。
通过注册和/或使用本网站和服务，您同意而产生的或相关的这些使用条件的任何争议将成为资本有管辖权的法院接近这个网站的所有者的住所。
</li><li>
<b>其他信息。</b>
<ol type="i">
<li>倘若本条款与法律抵触使用的某些规定下每dispozione可能被追究由法院无效的，该条款将被解释为反映双方的原意按照适用法律而本使用条款的其余部分将仍然有效，完整的;
</li><li>一方无力“断言根据这些使用条款不限制另一方的剩余权益的任何权利;
</li><li>您同意，尽管有任何法律条文另有规定，有关您使用我们的网站，其服务的任何争端或冲突必须提交一（1）后一年内，导致这一纠纷或原因冲突或永远被禁止;
</li><li>我们保留转让的权利和使用条款规定的义务，并放心的任何义务的权利。
	</li>
</ol>
同意根据艺术这些条款及服务（申报条件1341第2节，鳕鱼文明，要仔细阅读，并特别批准就包含在以前的文章中约定：（一）第1条可能改变服务条款的;（二）第2条可能延长或服务的修改;（三）第9条对起义赔偿要求;（五）第2条的可能性合同终止;（七）第10条没有被运营商或我们网站的所有者担保的;（八）美术我们网站的经营者或业主责任的11局限性;。！。（九）第14条定律和管辖权;（五）第15条（三）提起诉讼权利的丧失）
</li><li>
<b>对于法律出版</b>
在遵守有关意大利的法律规定，但应注意的是，该网站是不打算作为一个编辑的产品，而是一个虚拟社区不属于在信息依法治72001年3月，n.62定期确定的类别。
更新是随机的，周期性的。
没有一个报纸出版商不存在。
所有商标和本网站显示的商标均为其各自所有者的财产，所有的意见是那些谁写他们的责任，一切是网站管理员属性。
</li>
</ol>
