<h2><%= t('words.privacy_policy') %></h2>
<ol style="padding-left:10px">
  <li><b>简介。</b>
    该网站认为，很认真的隐私权，并希望你觉得
    舒适的使用本网站。本隐私政策涉及的个人信息（即从现在开始
    我们称之为“数据”），可以从我们的网站收集。本政策并不适用于其它不使用实体
    拥有或控制或不属于我们的雇员，代理人或我们的控制范围内的人。供
    关于它的更多信息，请阅读我们的使用条款。
  </li>
  <li>
    <b>数据收集。</b>
    我们的注册过程需要一个有效的电子邮件地址，唯一的用户ID（用户名
    或登录），关键词（密码），名字和姓氏。其他信息L'指示
    您自由选择。请注意，您的用户ID（用户名），地址
    电子邮件或提交的其他文件，你可以包含你的真实姓名或其他个人信息
    ，因此，他们可能会出现在此站点。与许多其他的网站，我们的服务器可以节省
    会自动在“日志文件”的信息，例如您的计算机的IP地址，也可以保存其他
    存储在计算机上的信息使用“曲奇”的技术。下面你会发现无论是信息和
    如何处理网站的广告。
  </li>
  <li>
    <b>使用数据。</b>
    本网站可能使用数据来定制和改善您的访问质量和人体工程学
    站点。我们将采取一切必要措施，以确保您的数据将不会提供给第三方，除非：
    <ol type="i">
      <li>
       规定另有规定的，隐私政策;
      </li>
      <li>
我们先前已经获得您的同意，当你选择接受或如
        否认
        数据共享;
      </li>
      <li>
设置于网站上的服务，需要设置有第三方服务相互作用或
        完全
        来自第三方（例如，服务提供者）;
      </li>
      <li>你的数据被警察要求;行使其职能;</li>
      <li>我们发现，您使用本网站违反了我们的这个政策，使用条款，其他线路
        使用或
        在认为合理必要由我们来保护我们的合法权利和/或财产;
      </li>
      <li>这个网站是由第三方购买由此第三方将能够使用数据以同样的方式
        说明
        本政策。
      </li>
    </ol>
在事件中，你选择使用出现在我们的网站链接访问其他网站，你
    我们建议您阅读在这些网站上，以确保隐私的隐私政策
    您的个人信息
  </li>

  <li>
    <b>消除与您的帐户停用</b>
    如果您不再希望使用自己的帐户，你可以将其关闭或删除它。
    <ol type="i">
      <b>Disattivazione</b>
      Quando un account è disattivato, rimane in sospeso. Gli altri utenti non visualizzano più la tua pagina, ma
      Airesis non elimina nessuna delle tue informazioni.<br/>
      Disattivare il tuo account equivale a chiedere ad Airesis di non eliminare nessuna informazione, in quanto
      potresti desiderare di riattivarlo in futuro.<br/>
      Puoi disattivare il tuo account inviado una richiesta
      a <%= mail_to ENV['APP_EMAIL_ADDRESS'], ENV['APP_EMAIL_ADDRESS'], tabindex: -1 %>.
      <b>Eliminazione</b>
      Quando un account viene eliminato, è cancellato in modo permanente da Airesis.<br/>
      Per l'eliminazione dell'account è solitamente necessario un mese, ma alcune informazioni potrebbero essere
      conservate in copie di backup e registri per un massimo di 90 giorni.<br/>
      Elimina il tuo account solo se hai la certezza di non volerlo riattivare mai più. Puoi eliminare il tuo account
      inviado una richiesta a <%= mail_to ENV['APP_EMAIL_ADDRESS'], ENV['APP_EMAIL_ADDRESS'], tabindex: -1 %>.<br/>
      Alcune informazioni sono necessarie per poterti fornire i servizi, perciò le eliminiamo solo quando elimini il tuo
      account.<br/>
      Alcune delle cose che fai su Airesis non sono memorizzate nel tuo account, come i contributi alle proposte o i
      messaggi inviati ad altre persone.<br/>
      Nel momento in cui inserisci contenuti nei blog degli altri utenti, nelle proposte o esprimi un voto queste
      divengono informazioni di pubblico dominio e non più associate direttamente al tuo account.<br/>
      Tali informazioni rimangono anche dopo l'eliminazione dell'account.
    </ol>
  </li>

  <li>

    <b>Cookies.</b>
    Come altri siti, questo sito salva ed usa cookies per migliorare l'uso da parte di ogni iscritto, come per esempio
    per salvare le vostre preferenze di visualizzazione. Pubblicità può apparire sul nostro sito e potrebbe salvare ed
    usare cookies sul vostro computer. Questo uso è soggetto alle politiche sulla privacy dei soggetti fornitori della
    pubblicità In ogni caso i fornitori di pubblicità non hanno accesso ai nostri cookies. Questi fornitori di solito
    usano del codice anonimo e non identificabile personalmente per ottenere informazioni riguardanti visite al nostro
    sito.
  </li>
  <li>
    <b>Minori.</b>
    Non permettiamo a minorenni di accedere al nostro sito se non con il consenso dei genitori. Per maggiori
    informazioni, contattate il nostro responsabile web (webmaster).
  </li>
  <li>
    <b>Modifica o Cancellazione delle informazioni sul tuo profilo.</b>
    Questo sito vi fornisce la possibilità di modificare le informazioni riguardanti il vostro profilo che ci avete
    fornito nella fase di registrazione usando la vostra pagina di configurazione personale. Potete richiedere la
    cancellazione del vostro profilo contattando il responsabile web (webmaster), ma questo verrà concesso solo ad
    insindacabile giudizio del responsabile. Contenuti o altri dati che potreste avere inserito sul nostro sito e che
    non sono contenuti nel vostro profilo, come messaggi che appaiono nei forum o articoli e notizie possono continuare
    a rimanere nel nostro sito a nostra discrezione anche se il vostro profilo e' stato cancellato.
    Non è possibile modificare il proprio indirizzo email nel caso l'account sia collegato ad un utenza Facebook,
    Google+ o Twitter.
    Controllate le nostre Condizioni d'Uso per maggiori informazioni.
  </li>
  <li>
    <b>Modifiche a questa Politica sulla Privacy.</b>
    Di tanto in tanto possiamo effettuare modifiche a questa politica. Sarete notificati in caso di modifiche
    sostanziali inserendo un annuncio evidente sul sito e/o inviando un messaggio all'indirizzo di posta elettronica che
    ci avete fornito (contenuto nella descrizione dei dati del vostro profilo).
  </li>
  <li>
    <b>NESSUNA GARANZIA</b>
    Questa Politica sulla Privacy indica le nostre linee guida per il mantenimento dei Dati e faremo ogni sforzo per
    seguire queste regole. Ci possono comunque essere fattori oltre il nostro controllo che potrebbero risultare nel
    rilascio dei dati a terzi. Di conseguenza, con questa Politica non si fornisce alcuna garanzia relativa al
    mantenimento della riservatezza dei Dati.
  </li>
  <li>
    <b>Contatti.</b>
    Per ogni domanda riguardante questa Politica contatta il nostro responsabile web (webmaster).
  </li>
</ol>
