<div class="title">
  <%= t('pages.home.show.your_territory') %>
</div>
<div id="territory_map" style="width:97%;height:340px;margin:5px auto;">
</div>

<script type="text/javascript"
        src="http://api.map.baidu.com/api?v=2.0&ak=<%= ENV['MAPS_API_KEY'] %>&sensor=false">
</script>
<script type="text/javascript">
    $(function () {

        <%
            @ib = current_user.interest_borders.first
            if !@ib
                @place_string = "Italia"
            elsif @ib.territory_type == 'Municipality'
                @place_string = @ib.territory.description + ", " + @ib.territory.province.description + ", Italia"
            elsif @ib.territory_type == 'Province'
                @place_string = @ib.territory.description + ", Italia"
            elsif @ib.territory_type == 'Region'
                @place_string = @ib.territory.description + ", Italia"
            end
        %>

        var interestBorderPlace = "<%=@place_string%>";
        var geocoder;
        if (!geocoder) {
            geocoder = new BMap.Geocoder();
        }

        var myOptions = {
            //latlng:new BMap.Point(116.380825,39.915455),
            //center: new BMap.LatLng(-34.397, 150.644),
            //zoom: 8,
            //mapTypeId: BMap.MapTypeId.ROADMAP
        };

        //map = new google.maps.Map(document.getElementById('territory_map'), myOptions);
        var map = new BMap.Map(document.getElementById('territory_map'));    // 创建Map实例
        map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
        map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
        map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
        map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
        //google.maps.event.trigger(map, 'resize');
        /*marker = new google.maps.Marker({
         map : map,
         position: latlng,
         draggable : false
         });*/

        geocoder.getPoint({'address': interestBorderPlace}, function (results, status) {
            if (status == BMap.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                map.fitBounds(results[0].geometry.bounds);
                /*var marker = new google.maps.Marker({
                 map: map,
                 position: results[0].geometry.location
                 });*/
            } else {
                console.error("Geocode was not successful for the following reason: " + status);
            }
        });
    });
</script>
