<ul class="small-block-grid-2 large-block-grid-4" data-equalizer>
  <li data-equalizer-watch>
    <ul class="pricing-table donate">
      <li class="title">Small</li>
      <li class="price">5.00RMB</li>
      <li class="cta-button">
        <%= image_tag 'weixin/5.jpg' %>
      </li>
    </ul>
  </li>

  <li data-equalizer-watch>
    <ul class="pricing-table donate">
      <li class="title">Standard</li>
      <li class="price">20.00RMB</li>
      <li class="cta-button">
        <%= image_tag 'weixin/20.jpg' %>
      </li>
    </ul>
  </li>

  <li data-equalizer-watch>
    <ul class="pricing-table donate">
      <li class="title">Premium</li>
      <li class="price">50.00RMB</li>
      <li class="cta-button">
        <%= image_tag 'weixin/50.jpg' %>
      </li>
    </ul>
  </li>

  <li data-equalizer-watch>
    <ul class="pricing-table donate">
      <li class="title">Custom</li>
      <li class="price">500.00RMB</li>
      <li class="cta-button">
        <%= image_tag 'weixin/500.jpg' %>
      </li>
    </ul>
  </li>
</ul>
