<a href="#" onclick="$('#schulze_modal').foundation('reveal','open');return false;" class="btn help"><%='说明'%></a>
<div id="schulze_modal" class="reveal-modal medium" data-reveal>
  <h2><%= "舒尔茨投票制" %></h2>
  <div>
    本次投票通过的<b>舒尔茨方法</b>。<br/>
    它可以让你更精确地投下自己的选票。<br/>
    对于每一个选项，您可以分配一个值：<b>这是最高的，更大您的喜好</b> <br/>。
    要紧的是在其中放置了不同的选择，而不是绝对值的顺序。<BR/>
    一些例子：
    <ul>
      <li>如果您不指定任何投票也就是说，你有没有偏好; </li>
      <li>如果您分配给所有选项相同的评估，意味着你有没有偏好; </li>
      <li>如果您对一个单选项，任何得分输入，这意味着你更喜欢
        所有其他（如在简单的表决）;
      </li>
      <li>如果您提供的各种选项，你将设置你的订单偏好不同的等级;然后，您可以
        表明你的最爱，但随之而来的，谁可能仍然觉得好其他。
      </li>
    </ul>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
